# Trash
.DS_Store
Thumbs.db

# K8s
kubeconfig
# Accidentally created by the `age` tool
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key

# Private
.private
.bin

# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json

# Bootstrap
/config.yaml

